/* Estilos generales */
body {
    width: 900px;
    margin: auto;
    background: url(https://www.promiedos.com.ar/images/menu/fondo.jpg);
    font-family: Roboto, sans-serif, Arial, Helvetica;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
}

.table {
    margin: 0;
    padding: 0;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 0;
    width: 100px;
    height: 100px;
}

th,
td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    padding: 4px;
    font-size: 13px;
    text-align: left;
    font-weight: bold;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(n+2) {
    text-align: center;
}

.table-header {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

td {
    font-size: 13px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

tr:nth-child(odd) {
    background-color: #d5d5d5;
}

h1 { 
    display: block;
    font-size: 23px;
    width: 100%;
    clear: both;
    background: green;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    text-shadow: #000 .1em .1em .1em;
    background: #125e2a;
    border: 1px solid #000;
    margin-bottom: 0em;
}

h2 { 
    display: block;
    font-size: 23px;
    width: 100%;
    clear: both;
    background: green;
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-shadow: #000 .1em .1em .1em;
    background: #125e2a;
    border: 1px solid #000;
    margin-bottom: 0em;
    font-weight: normal;
}

footer p {
    color: #fff;
}

/* Estilos específicos para las tablas de Goleadores, Mayores Ganadores y Mayores Perdedores */
.goleadores-table,
.mayores-table {
    width: 100%; /* Ancho completo */
    margin-top: 0px; /* Espaciado superior */
}

.goleadores-table th,
.goleadores-table td,
.mayores-table th,
.mayores-table td {
    border: 1px solid #0f432c; /* Borde sólido */
    padding: 4px;
}

.goleadores-table th,
.mayores-table th {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

/* Aplicar estilos al primer jugador de la tabla de goleadores */
.goleadores-table tr:nth-child(2) td {
    background-color: #90ee90;
    color: black;
}

.logo-menu-container {
    display: flex;
    justify-content: space-between; /* Alinear elementos a los extremos */
    align-items: center;
}

.menu-container {
    position: relative;
}

.menu-icon {
    cursor: pointer;
}

.menu-line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    
}

.menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Ajustar la posición del menú */
    right: 0;
    background: #015a1c;
    padding: 10px 0;
    border-radius: 0px;
    min-width: max-content; /* Ancho mínimo basado en el contenido */
    border: 1px solid #000;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu li {
    text-align: center;
}

.menu a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background: #024817;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #015a1c;
    border-radius: 0px;
    width: max-content; /* Ancho mínimo basado en el contenido */
    border: 1px solid #000;
}

.submenu a:hover {
    background: #024817;
}

.menu-open {
    display: block;
}

.video-container {
text-align: center;
margin: 20px 0;
}




